/* deck */

#futhark-deck{
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  min-height: 80px;
}

#futhark-deck > div{
  display: flex;
  justify-content: center;
  margin:0px 0px;
}

#futhark-deck > div > div{
  width:12.5%;
  text-align: center;
}

#futhark-deck > div > div > div{
  height: 32px;
  margin-bottom: 0px;
}

#tb-futhark {
  margin-top: 6px;
}

#tb-futhark div{
  font-size: 36px;
  font-family: Helvetica, sans-serif;
}

#tb-futhark > div{
  display: flex;
  margin:16px 0px;
}

#tb-futhark > div > div{
  width:12.5%;
  text-align: center;
}

#tb-runepoem > div{
  margin: 12px 0px;
}

#tb-runepoem > div > div:first-of-type{
  font-size: 16px;
}

#tb-runepoem > div > div{
  font-size: 9px;
  margin: 3px 0px;
}

#futhark-deck .tb1-info-hidden:last-of-type:after {
  content: '＊＊＊';
}

#futhark-deck > div > div > span:last-of-type { 
  font-size: 11px;
}

.block-futhark{
  margin: 4px 0px 2px !important;
}
