/* deck */

.tarot-deck{
  
}

.tarot-deck > div {
  display: flex;
  justify-content: space-evenly;
}

.tarot-deck > div > div {
 width:40px;
}

.tarot-deck img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(339deg) brightness(104%) contrast(101%);
}

body.theme-sepia .tarot-deck img{
  filter: invert(26%) sepia(3%) saturate(6430%) hue-rotate(353deg) brightness(103%) contrast(87%);
}


