/* deck */

.tarot-deck{
  
}

.tarot-deck > div {
  display: flex;
  justify-content: center;
}

.tarot-deck > div > div {
  width: 25%;
  max-width: 180px;
  margin:0px 6px;
  text-align: center;
  min-height: 180px;
}

.tarot-deck > div > div > span { 
  display: block;
}

.tarot-deck > div > div span { 
  vertical-align: middle;
}

.tarot-deck > div > div > span:first-of-type { 
  height: 20px;
}

.tarot-deck > div > div > span:last-of-type { 
  height: 40px;
  font-size: 11px;
}

.hebrew{
  font-family: serif;
}

.tarot-deck img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(339deg) brightness(104%) contrast(101%);
}

body.theme-sepia .tarot-deck img{
  /* filter: invert(26%) sepia(3%) saturate(6430%) hue-rotate(353deg) brightness(103%) contrast(87%); */
  filter: invert(60%) sepia(3%) saturate(20%) hue-rotate(39deg) brightness(89%) contrast(85%);
  min-height: 167px;
}

.block-tarot{
  margin: 12px 0px 6px !important;
}

.tb1-info-hidden > span{
  display: none;
}

.tb1-info-hidden:after {
  content: '＊＊＊';
}

.tb1-info-hidden:last-of-type:after {
  content: '＊＊＊\A＊＊＊';
  white-space: pre-wrap;
}

.container-tarot #tb2-container table{
  font-size: 20px;
}

.container-tarot #tb2-container table td{
  width: auto;
  text-align: center;
}

.container-tarot #tb2-container table td:nth-child(3), .container-tarot #tb2-container table td:nth-child(4){
  font-size: 16px;
}


.tb-divider{
  height: 24px;
}

#tb-minors {
  display: flex;
  margin-top: 6px;
}

#tb-minors div{
  font-size: 22px;
}

#tb-minors > div{
  width:25%;
}

#tb-minors > div > div{
  text-align: center;
}

#tb-minors > div > div:nth-of-type(4), #tb-minors > div > div:nth-of-type(7){
  margin-top: 18px;
}

#tb-symbols > div > div:nth-child(1), #tb-symbols > div > div:nth-child(2){
  width:20px;
  font-size: 22px;
  padding: 0px 5px;
}

#tb-symbols > div > div:nth-child(3), #tb-symbols > div > div:nth-child(4){
  width:40%;
}

#tb-symbols > div:nth-of-type(4) div, #tb-symbols > div:nth-of-type(11) div{
  padding-top: 18px;
}

#tb-symbols{
  display: table;
  margin-top: 18px;
}

#tb-symbols div{
  
}

#tb-symbols > div{
  display: table-row;
}

#tb-symbols > div > div{
  display: table-cell;
}


#tb-sefirots{
  display: table;
  margin-top: 18px;
}

#tb-sefirots div{
  
}

#tb-sefirots > div{
  display: table-row;
}

#tb-sefirots > div > div{
  display: table-cell;
  width: 20%;
}


