/* deck */

.tarot-deck{
  
}

.tarot-deck > div {
  display: flex;
  justify-content: center;
}

.tarot-deck > div > div {
  width: 25%;
  max-width: 180px;
  margin:0px 6px;
  text-align: center;
  min-height: 180px;
}
.tarot-deck > div > div > span { 
  display: block;
  height: 20px;
  vertical-align: middle;
}

.hebrew{
  font-family: serif;
}

.tarot-deck img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(339deg) brightness(104%) contrast(101%);
}

body.theme-sepia .tarot-deck img{
  /* filter: invert(26%) sepia(3%) saturate(6430%) hue-rotate(353deg) brightness(103%) contrast(87%); */
  filter: invert(60%) sepia(3%) saturate(20%) hue-rotate(39deg) brightness(89%) contrast(85%);
}

.block-tarot{
  margin: 12px 0px 6px !important;
}

.tb1-info-hidden > span{
  display: none;
}

.tb1-info-hidden:after {
  content: '＊＊';
}
