/* deck */



#tb-futhark {
  margin-top: 6px;
}

#tb-futhark div{
  font-size: 42px;
  font-family: Helvetica, sans-serif;
}

#tb-futhark > div{
  display: flex;
}

#tb-futhark > div > div{
  width:12.5%;
  text-align: center;
}
